body.page-in::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%) skewX(10deg);
    width: 100%;
    height: 100%;
    animation: animate 0.5s linear forwards;
    background: linear-gradient( #74acdf 30%, #ffffff 30%, #ffffff 70%, #74acdf 70%, #74acdf 100%);
    z-index: 999999;
}

@keyframes animate {
    0% {
        transform: translateX(-100%) skewX(10deg);
    }
    100% {
        transform: translateX(100%) skewX(0deg);
    }
    
}